<div class="container">
    <div class="text-center">
        <h1 style="font-family: serif;">Games and Competition</h1>
        <h5>contact: 9174063157 (<i>game organizer</i>)</h5>
    </div>
    <div class="row mb-3">
        <div class="bg-primary" style="border-radius: 20px;">
            <div class="row">
                <div class="col-2">
                    <img src="/img/cricket.jpg" style="margin: 20px;border-radius: 50px;" width="100%" alt="">
                </div>
                <div class="col-8">
                    <div style="margin-left: 50px;margin-top: 40px;margin-bottom: 20px;">
                        <h4 style="font-family: serif;color: white;">Cricket</h4>
                        <p style="color: white;margin-left: 20px;">Cricket match organize every sunday. Every sunday one player melt Man-Of-The-Match trofy And monthly organized turnament.</p>
                        <span>
                            <a href="#" style="margin-left: 20px;color: white;" class="btn btn-info">View teams and player</a>
                        </span>
                        <span>
                            <a href="#" style="margin-left: 20px;color: white;" class="btn btn-info">View previous match details</a>
                        </span>
                        <span>
                            <a href="#" style="margin-left: 20px;color: white;" class="btn btn-success">Join any team</a>
                        </span>
                    </div>
                </div>
                <div class="col-2">
    
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="bg-primary" style="border-radius: 20px;">
            <div class="row">
                <div class="col-2">
                    <img src="/img/kabaddi.jpg" style="margin: 20px;border-radius: 50px;" width="100%" alt="">
                </div>
                <div class="col-8">
                    <div style="margin-left: 50px;margin-top: 40px;margin-bottom: 20px;">
                        <h4 style="font-family: serif;color: white;">Kabaddi</h4>
                        <p style="color: white;margin-left: 20px;">Kabaddi match organize every sunday. Every sunday one player melt Man-Of-The-Match trofy And monthly organized turnament.</p>
                        <span>
                            <a href="#" style="margin-left: 20px;color: white;" class="btn btn-info">View teams and player</a>
                        </span>
                        <span>
                            <a href="#" style="margin-left: 20px;color: white;" class="btn btn-info">View previous match details</a>
                        </span>
                        <span>
                            <a href="#" style="margin-left: 20px;color: white;" class="btn btn-success">Join any team</a>
                        </span>
                    </div>
                </div>
                <div class="col-2">
    
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="bg-primary" style="border-radius: 20px;">
            <div class="row">
                <div class="col-2">
                    <img src="/img/kho-kho.jpg" style="margin: 20px;border-radius: 50px;" width="100%" alt="">
                </div>
                <div class="col-8">
                    <div style="margin-left: 50px;margin-top: 40px;margin-bottom: 20px;">
                        <h4 style="font-family: serif;color: white;">Kho-kho</h4>
                        <p style="color: white;margin-left: 20px;">Kho-kho match organize every sunday. monthly organized turnament.</p>
                        <span>
                            <a href="#" style="margin-left: 20px;color: white;" class="btn btn-info">View teams and player</a>
                        </span>
                        <span>
                            <a href="#" style="margin-left: 20px;color: white;" class="btn btn-info">View previous match details</a>
                        </span>
                        <span>
                            <a href="#" style="margin-left: 20px;color: white;" class="btn btn-success">Join any team</a>
                        </span>
                    </div>
                </div>
                <div class="col-2">
    
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="bg-primary" style="border-radius: 20px;">
            <div class="row">
                <div class="col-2">
                    <img src="/img/high-jump.jpg" style="margin: 20px;border-radius: 50px;" width="100%" alt="">
                </div>
                <div class="col-8">
                    <div style="margin-left: 50px;margin-top: 40px;margin-bottom: 20px;">
                        <h4 style="font-family: serif;color: white;">High Jump</h4>
                        <p style="color: white;margin-left: 20px;">High Jump match organize month last week.</p>
                        <span>
                            <a href="#" style="margin-left: 20px;color: white;" class="btn btn-info">View previous records and player</a>
                        </span>
                        <span>
                            <a href="#" style="margin-left: 20px;color: white;" class="btn btn-success">Apply</a>
                        </span>
                    </div>
                </div>
                <div class="col-2">
    
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="bg-primary" style="border-radius: 20px;">
            <div class="row">
                <div class="col-2">
                    <img src="/img/long-jump.jpg" style="margin: 20px;border-radius: 50px;" width="100%" alt="">
                </div>
                <div class="col-8">
                    <div style="margin-left: 50px;margin-top: 40px;margin-bottom: 20px;">
                        <h4 style="font-family: serif;color: white;">Long Jump</h4>
                        <p style="color: white;margin-left: 20px;">Long Jump match organize month last week.</p>
                        <span>
                            <a href="#" style="margin-left: 20px;color: white;" class="btn btn-info">View previous records and player</a>
                        </span>
                        <span>
                            <a href="#" style="margin-left: 20px;color: white;" class="btn btn-success">Apply</a>
                        </span>
                    </div>
                </div>
                <div class="col-2">
    
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="bg-primary" style="border-radius: 20px;">
            <div class="row">
                <div class="col-2">
                    <img src="/img/running.jpg" style="margin: 20px;border-radius: 50px;" width="100%" alt="">
                </div>
                <div class="col-8">
                    <div style="margin-left: 50px;margin-top: 40px;margin-bottom: 20px;">
                        <h4 style="font-family: serif;color: white;">Running</h4>
                        <p style="color: white;margin-left: 20px;">Running match organize month last week.</p>
                        <span>
                            <a href="#" style="margin-left: 20px;color: white;" class="btn btn-info">View previous records and player</a>
                        </span>
                        <span>
                            <a href="#" style="margin-left: 20px;color: white;" class="btn btn-success">Apply</a>
                        </span>
                    </div>
                </div>
                <div class="col-2">
    
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="bg-primary" style="border-radius: 20px;">
            <div class="row">
                <div class="col-2">
                    <img src="/img/brain.png" style="margin: 20px;border-radius: 50px;" width="100%" alt="">
                </div>
                <div class="col-8">
                    <div style="margin-left: 50px;margin-top: 40px;margin-bottom: 20px;">
                        <h4 style="font-family: serif;color: white;">Brain olympic</h4>
                        <p style="color: white;margin-left: 20px;">Brain olympic match organize month last week.</p>
                        <span>
                            <a href="#" style="margin-left: 20px;color: white;" class="btn btn-info">View previous records and player</a>
                        </span>
                        <span>
                            <a href="#" style="margin-left: 20px;color: white;" class="btn btn-success">Apply</a>
                        </span>
                    </div>
                </div>
                <div class="col-2">
    
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="bg-primary" style="border-radius: 20px;">
            <div class="row">
                <div class="col-2">
                    <img src="/img/dance.jpg" style="margin: 20px;border-radius: 50px;" width="100%" alt="">
                </div>
                <div class="col-8">
                    <div style="margin-left: 50px;margin-top: 40px;margin-bottom: 20px;">
                        <h4 style="font-family: serif;color: white;">Dance Competition</h4>
                        <p style="color: white;margin-left: 20px;">Organize any special day</p>
                        <span>
                            <a href="#" style="margin-left: 20px;color: white;" class="btn btn-info">View deteals</a>
                        </span>
                    </div>
                </div>
                <div class="col-2">
    
                </div>
            </div>
        </div>
    </div>
</div>