<div class="container">
    <section class="bg-image">
  <div class="mask d-flex align-items-center">
    <div class="container-fluid">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Log In Portal</h2>

              <div>
                <% if(status && message){ %>
                  <h4 style="font-family: serif;color: red;"><%= message; %></h4>  
                <% } %>
              </div>

              <form action="/authentication" method="post">

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3cg">Your Email</label>
                  <input type="email" name="email" class="form-control" />
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cg">Password</label>
                  <input type="password" name="password" class="form-control" />
                </div>

                <div class="d-flex justify-content-center">
                    <input type="submit" value="LogIn" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account?<a href="/sign-up"
                    class="fw-bold text-body"><u>sign-up</u></a></p>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>