<div class="container-fluid text-center">
    <div class="text-center">
        <div>
            <img style="border-radius: 120px;" src="/img/success.jpeg" alt="">
        </div>
        <div>
            <h4>Successfully Register</h4><br>
            <p>Your ID will be activated in the process of 3 days</p>
        </div>
    </div>
</div>
